/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import '../../bower_components/bemify/sass/bemify.scss';

html,
html *{
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
