@import 'http://fonts.googleapis.com/css?family=Noto+Sans';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font: 16px/20px 'Noto Sans', sans-serif;
  background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-track {
    border-radius: $scrollbar-width;
    background-color: rgba(25,147,147,0.1);
}

::-webkit-scrollbar-thumb {
     border-radius: $scrollbar-width;
    background-color: $chat-thread-bgd-color;
}

.wrapper {
  width: 70%;
  margin: 2em auto;
}

header {
  border-bottom-color: #eee;
}

h1,
h2,
h3 {
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2em;
  line-height: 1.6em;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 1em;
  line-height: 1.4em;
  text-align: center;
  font-weight: 300;
}

input[type=text],
input[type=password],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #333;
  font-size: 1em;
  padding: .7em 1em;
  margin-bottom: 1em;
  position: relative;
  top: 15px;
  border: 0;
}

input[type=text],
input[type=password] {
  margin-left: 85px;
  width: calc(100% - 225px);
  font-family: 'Noto Sans', sans-serif;
  background: none;
  color: #0AD5C1;
  outline: 0;
  border-bottom: 2px solid rgba(25, 147, 147, 0.2);
}

button {
  background: #0AD5C1;
  margin: .5em 0 2em 0;
  width: 120px;
  color: #fff;
  cursor: pointer;
}
