.wrapper
  header
    h1 Chat BeerJS Santiago - Febrero 2017
    h2 Integración: Angular 1.5
  section#main
    div(ui-view)
        .chat
        i.avatar
        input(type='text', placeholder='Mensaje...')
        button#btn-enviar Enviar
        .output
